name: Deploy to Netlify

on:
  push:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v19
        with:
          nix_path: nixpkgs=channel:nixos-21.11
          extra_nix_config: |
            extra-platforms = aarch64-linux
      - name: Install deps
        run: nix-shell --pure --run "make deps"

      - name: Build site
        run: nix-shell --pure --run "make build"

      - name: Deploy site
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        run: nix-shell --pure --run "yarn deploy --site $NETLIFY_SITE_ID --auth $NETLIFY_AUTH_TOKEN"
